.mainMenus {
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.menuItem {
	width: 128px;
	height: 114px;
	padding-left: 20px;
	text-align: center;
	float: left;
}

.itemImg {
	width: 128px;
	height: 84px;
}

.itemTitle {
	width: 128px;
	height: 30px;
	padding-top: 6px;
}